html { position: relative; margin: 0; padding: 0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imMnMnGraphics { position: absolute; top: 0; bottom: 0; z-index: 9; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; overflow: hidden; zoom: 1; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
@media (min-width: 960px) {
		html { background-image: url('Undersea-Light-Wallpaper-For-Desktop-67190.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-color: transparent; }
		#imPage { padding-top: 0; margin-top: 0px; margin-bottom: 0px; min-width: 960px; }
		#imHeaderBg { height: 140px; background-image: none; background-color: transparent; }
		#imHeader { position: relative; margin-bottom: 36px; margin-left: auto; margin-right: auto; height: 230px; background-image: none; background-color: transparent; }
		#imHeaderObjects { position: relative; height: 230px; }
		#imMnMnContainer { position: absolute; top: 230px; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; height: 26px; padding: 5px 5px 5px 5px; background-image: none; background-color: #FFFFFF; }
		#imMnMn > ul { text-align: left; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 380px; padding: 40px 0 40px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: url('research-area-ocean-science-and-engineering-mit-department-of.jpg'); background-position: center top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imFooterBg { height: 90px; background-image: none; background-color: transparent; }
		#imFooter { margin-left: auto; margin-right: auto; height: 75px; background-image: none; background-color: #BFCFFF; }
		#imFooterObjects { position: relative; height: 75px; }
		#imFooPad { height: 380px; }
		#imHeader, #imMnMnContainer, #imFooter { width: 960px; }
		#imMnMn { width: 950px; }
		#imContentGraphics { width: 960px; }
	
}
@media  (max-width: 959px) and (min-width: 720px) {
		html { background-image: url('Undersea-Light-Wallpaper-For-Desktop-67190.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-color: transparent; }
		#imPage { padding-top: 36px; margin-top: 0px; margin-bottom: 0px; min-width: 720px; }
		#imHeaderBg { height: 140px; background-image: none; background-color: transparent; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 50px; background-image: url('bg3-1--1-.png'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
		#imHeaderObjects { position: relative; height: 50px; }
		#imMnMnContainer { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; height: 26px; padding: 5px 5px 5px 5px; background-image: none; background-color: #FFFFFF; }
		#imMnMn > ul { text-align: left; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 380px; padding: 5px 0 5px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: url('research-area-ocean-science-and-engineering-mit-department-of.jpg'); background-position: center top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imFooterBg { height: 90px; background-image: none; background-color: transparent; }
		#imFooter { margin-left: auto; margin-right: auto; height: 47px; background-image: none; background-color: #FFFFFF; }
		#imFooterObjects { position: relative; height: 47px; }
		#imFooPad { height: 380px; }
		#imHeader, #imMnMnContainer, #imFooter { width: 720px; }
		#imMnMn { width: 710px; }
		#imContentGraphics { width: 720px; }
	
}
@media  (max-width: 719px) and (min-width: 480px) {
		html { background-image: url('Undersea-Light-Wallpaper-For-Desktop-67190.jpg'); background-position: center center; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imPage { padding-top: 36px; margin-top: 0px; margin-bottom: 0px; min-width: 480px; }
		#imHeaderBg { height: 140px; background-image: none; background-color: transparent; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 50px; background-image: url('bg3-1--1--1-.png'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
		#imHeaderObjects { position: relative; height: 50px; }
		#imMnMnContainer { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; height: 26px; padding: 5px 5px 5px 5px; background-image: none; background-color: #FFFFFF; }
		#imMnMn > ul { text-align: left; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 380px; padding: 5px 0 5px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: url('research-area-ocean-science-and-engineering-mit-department-of.jpg'); background-position: center bottom; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
		#imFooterBg { height: 90px; background-image: none; background-color: transparent; }
		#imFooter { margin-left: auto; margin-right: auto; height: 47px; background-image: none; background-color: #FFFFFF; }
		#imFooterObjects { position: relative; height: 47px; }
		#imFooPad { height: 380px; }
		#imHeader, #imMnMnContainer, #imFooter { width: 480px; }
		#imMnMn { width: 470px; }
		#imContentGraphics { width: 480px; }
	
}
@media  (max-width: 479px) {
		html { background-image: url('Undersea-Light-Wallpaper-For-Desktop-67190.jpg'); background-position: left top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imPage { padding-top: 36px; margin-top: 0px; margin-bottom: 0px; }
		#imHeaderBg { height: 140px; background-image: none; background-color: transparent; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 50px; background-image: url('bg3-1--1--2-.png'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
		#imHeaderObjects { position: relative; height: 50px; }
		#imMnMnContainer { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; height: 36px; padding: 5px 5px 5px 5px; background-image: none; background-color: #FFFFFF; }
		#imMnMn > ul { text-align: left; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 380px; padding: 5px 0 5px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: url('research-area-ocean-science-and-engineering-mit-department-of.jpg'); background-position: center bottom; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imFooterBg { height: 90px; background-image: none; background-color: transparent; }
		#imFooter { margin-left: auto; margin-right: auto; height: 47px; background-image: none; background-color: #FFFFFF; }
		#imFooterObjects { position: relative; height: 47px; }
		#imFooPad, #imBtMnContainer, #imBtMn, #imPgMnContainer { display: none; }
		#imPage, #imMnMn, #imContent, #imContentGraphics, #imFooter { box-sizing: border-box; width: 100%; }
	
}
